body {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.request-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}